*{

    font-family: Arial, sans-serif;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
  
  }
  
  nav {
    background-color: antiquewhite;
    
  }
  nav a:hover {
    background-color:  rgb(10, 164, 178);
    padding: 30px;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px ;
    z-index: 1;
    width: 100%;
  }
  
  
  
  
  
  .link li a{
    transition: 0.1s ease-in-out;
    color: black;
    text-align: center;
    position: relative;
    text-decoration: none;
  }
  
  .link{
    list-style: none;
    display: flex;
  }
  .link li{
    padding: 0 19px;
    margin-bottom: 20px;
  }
  .logo-img {
    width: 99px;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  h4{
    text-align: center;
  }
  
  h2{
    text-align: center;
  }
  
  
  
  
  div p {
    align-items: center;
  }
  
  div p{
    display: inline;
    padding: 30px;
    line-height: 5pc;
   }
  
   div{
   background-color: gray;
   border: solid;
   }